.bg-red {
  background: #d62d20; }

.btn-outline-red {
  border: 1px solid #d62d20;
  color: #d62d20; }
  .btn-outline-red:hover {
    background: #d62d20;
    color: #fff; }

.btn-red {
  background: #d62d20;
  color: #fff; }
  .btn-red:hover {
    background: #d61a20;
    color: #f1f1f1; }

.card {
  height: 100%; }

.navbar {
  padding-top: 0;
  padding-bottom: 0; }
  .navbar .active {
    background: #d9534f;
    background: #d62d20; }
  .navbar .nav-link {
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }

#showcase .carousel-item {
  height: 85vh; }
#showcase .carousel-image-1 {
  background: url("../img/image1.jpg");
  background-size: cover; }
#showcase .carousel-image-2 {
  background: url("../img/image2.jpg");
  background-size: cover; }
#showcase .carousel-image-3 {
  background: url("../img/image3.jpg");
  background-size: cover; }

#home-heading {
  background: url("../img/lights.jpg");
  position: relative;
  min-height: 200px;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #home-heading .row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

#video-play {
  background: url("../img/media.jpg");
  position: relative;
  min-height: 200px;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #video-play .row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#footer {
  background: #000; }
  #footer p {
    margin: 0; }

#about-header {
  background: url("../img/image1.jpg");
  position: relative;
  min-height: 200px;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  #about-header .row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@media only screen and (max-width: 767px) {
  .mb-resp {
    margin-bottom: 1.5rem; } }
@media only screen and (max-width: 575px) {
  .nav {
    padding: 0.5rem 1rem; }
    .nav li:first-of-type {
      margin-top: 0.5rem; } }
