@mixin center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

@mixin smallBackground
  position: relative
  min-height: 200px
  background-attachment: fixed
  webkit-background-attachment: fixed
  background-repeat: no-repeat
  color: #fff
  text-align: center
  .row
    @include center

body
  overflow-x: hidden

.bg-red
  background: #d62d20

.btn-outline-red
  border: 1px solid #d62d20
  background: #fff
  color: #d62d20
  &:hover
    background: #d62d20
    color: #fff
.btn-red
  background: #d62d20
  color: #fff
  &:hover
    background: #d61a20
    color: #f1f1f1

.card
  height: 100%

.navbar
  padding-top: 0
  padding-bottom: 0
  .active
    background: #d62d20
  .nav-link
    text-transform: uppercase
    font-size: 14px
    padding-left: 1rem !important
    padding-right: 1rem !important

#showcase
  .carousel
    &-item
      height: 85vh
    &-image
      &-1
        background: url("../img/image1.jpg")
        background-size: cover
      &-2
        background: url("../img/image2.jpg")
        background-size: cover
      &-3
        background: url("../img/image3.jpg")
        background-size: cover

#home-heading
  background: url("../img/lights.jpg")
  @include smallBackground

.dark-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,.7)

#video-play
  background: url("../img/media.jpg")
  @include smallBackground

#faq
  .card
    border: 1px solid #222
    &-header
      padding: 0
      cursor: pointer
      h5
        line-height: 2.5
        padding-left: 1.2rem
        &:hover
          cursor: pointer
    &-header,
    &-body
      background: #333
      color: #fff

#blog-body
  blockquote
    p
      font-size: 1.4rem
      // font-weight: 400
    small
      font-size: .8rem

#footer
  background: #000
  p
    margin: 0

#about-header,
#services-header,
#blog-header,
#contact-header
  background: url("../img/image1.jpg")
  @include smallBackground
  .row
    @include center

@media only screen and (max-width: 767px)
  .mb-resp
    margin-bottom: 1.5rem

@media only screen and (max-width: 575px)
  .nav
    padding: .5rem 1rem
    li:first-of-type
      margin-top: .5rem